/* things to kill entirely */
.message, /* "we're making improvements" */
.jsx-763806470, /* primary nav container */
.Nav__Primary,
footer
{
	display:none !important;
}


.Table2__table td
{ /* Tighten up many things */
	padding: 0 5px !important;  
}
.ScoreboardScoreCell__Item,
.team-page .content-nav,
.team-page .team-page,
.NavMain__Secondary,
.transaction-details
{ /* Really tighten up */
	padding: 0 !important;  
	margin: 0 !important;
}

.table--cell { 
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.table--cell.stat-whip,
.table--cell.stat-avg 
{ 
	padding-right: 4px !important;
}

.NavMain__Secondary {max-width: unset !important;}

.page-container
 {
	margin: 0 0 40px 0 !important;
	width: 100% !important;
}

@media screen and (min-width:1258px){
	/* only for the My Team page on wide screens */
	.layout.is-9-3 {
		/* width: 200px; */
		float: left;
		min-width:200px; 
	}
	
	.layout.is-9-3	.team-details-primary ,
	.layout.is-9-3	.matchups-display,
	.layout.is-9-3	.additional-links
	{
		display: inline-flex !important; 
		flex-direction: column !important;
	}
		
	.layout.is-9-3	.team-details-secondary > *,
	.layout.is-9-3	.links-group > * 
	{
		display: block;
		border: none !important;
		margin-left: 0 !important;
		margin-bottom: 5px;
		padding-left: 0 !important;
	}
	
	.layout.is-9-3	.matchups-display,
	.layout.is-9-3	.matchups-display .full-schedule-link,
	.layout.is-9-3	.team-pending-moves-container 
	{
		position: static !important;
	}
	
	.layout.is-9-3	.matchup-score 
	{ 
		padding: 0 !important;
		width: 160px;
	}
	
	.layout.is-9-3 .team-info-container .team-details-primary  .teamName { 
		white-space: normal !important; 
		font-size: 20px !important;
	}
	
	.layout.is-9-3  .layout__column { width: unset;}
		
	
	.layout.is-9-3  .layout__column--1 { padding-right: 12px !important; }
	
	.layout.is-9-3  .layout__column--1 .my-team-header,
	.layout.is-9-3  .layout__column--1 .player--filters
	{ 
		width: 160px; 
	}
	.layout.is-9-3  .layout__column--1 .subHeader { display: block; }
	.layout.is-9-3  .layout__column--2 {display: none !important;}
	.layout.is-9-3	.matchups-display > *{ margin-bottom: 10px; }
	.layout.is-9-3	.team-settings-link {margin-top: -20px;}
	.layout.is-9-3	.additional-links {margin-top: 20px !important;}
	.layout.is-9-3	.team-info-container {height: auto !important;}
	.layout.is-9-3	.team-record {margin-left: 0 !important;}
	.layout.is-9-3	.team-rank {margin-left: 0 !important;}
	.layout.is-9-3	.ScoreCell_Score--scoreboard { font-size: 12px !important;}
	.layout.is-9-3	.ScoreCell_Score--scoreboard .figure { margin: 0 !important;}
	.layout.is-9-3	.ScoreCell__Team--scoreboard.pl2 { padding-left: 0 !important;}
	.layout.is-9-3	.ScoreCell__Team--scoreboard.pr2 { padding-right: 0 !important; }
	.layout.is-9-3	.ScoreCell__Truncate { margin-right: 0 !important; }
	.layout.is-9-3	.ScoreCell__TeamName { font-size: 12px; }

	.layout.is-9-3 .team-setting-form { float: left;}
	.games-footercol { clear: both;}
	.layout.is-9-3 .player--filters .player--filters--reset-button{
		position: static;
	}
	.layout.is-9-3 .player--filters .filter.statQualifier .range-input{
		width: 75px;
	}
	.layout.is-9-3 .filter {
		float: unset;
	}
	.layout.is-9-3 .filter.statQualifier .flex{
		display: block; /* make the stat qualifier non-flexbox */
	}
	.layout.is-9-3 .player--filters .player--search {
		position: static;
		top: 0;
		width: 170px;
	}
	
	.matchup-label,
	.links-group,
	.scoring--period-lineups
	{ /* Really tighten up */
		padding: 0 !important;  
		margin: 0 !important;
	}
	
	.ScoreboardScoreCell__Competitors.matchup-teams-score,
	.ScoreCell_Score--scoreboard
	{ /* Really tighten up */
		border: none !important;
		padding: 0 !important;
	}
	
}

.tabs__list__item button.tabs__link {
	padding: 4px 12px !important;
}

.rosterContainer .player-headshot img ,
.rosterContainer .player-column__empty-headshot
{
	transform: scale(3) translate(4px, 6px);
	max-height: 20px;
	max-width: 25px;
}



.jsx-3687124217, /* header container */
.my-team-header.jsx-75468952 .additional-links.jsx-75468952   
{
	height: auto !important;
}

.player-column__athlete, .player-column__athlete span, .player-column__position {
	display: inline-block !important;
}

.container.jsx-2968158442 /* lineup container */
{
	padding-top: 0 !important;
}

.team-acquisitions-counter {
	top: 43px;
	right: 75px;
}


.players-table__sortable .Table2__table .Table2__td ,
.players-table .Table2__table .Table2__td  
.players-table__sortable .Table2__table tr.Table2__tr ,
.players-table .Table2__table tr.Table2__tr  
{
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: 25px;
}

.players-table__sortable .Table2__table tr.Table2__header-row ,
.players-table .Table2__table tr.Table2__header-row 
div.players-table__sortable .Table2__table__wrapper .Table2__Table--fixed--left tr.Table2__tr,
div.players-table__sortable .Table2__table__wrapper .Table2__Table--fixed--left tr.Table2__tr--lg,
div.players-table .Table2__table__wrapper .Table2__Table--fixed--left tr.Table2__tr,
div.players-table .Table2__table__wrapper .Table2__Table--fixed--left tr.Table2__tr--lg,
.player-info.jsx-2893327412, /* content in name, news, team, position column */
.player-info.jsx-2448508547  /* the "Empty" player placeholder */
{
	height: 24px !important;  /* not sure why 1px gets added to this number? */
}

.btn.action-buttons{ padding: 0;}

.claim-action-btn ,
.watch-action-btn ,
.drop-action-btn , 
.trade-action-btn 
{
	height: 22px !important;
}

/* div.players-table__sortable .Table2__table__wrapper .Table2__table-scroll .Table2__table-scroller tr.Table2__tr, */
/* div.players-table__sortable .Table2__table__wrapper .Table2__table-scroll .Table2__table-scroller tr.Table2__tr--lg, */
/* div.players-table .Table2__table__wrapper .Table2__table-scroll .Table2__table-scroller tr.Table2__tr, */
/* div.players-table .Table2__table__wrapper .Table2__table-scroll .Table2__table-scroller tr.Table2__tr--lg, */
/* { */
	/* height: 25px !important; */
/* } */
 
.player-column__position {	
    position: relative;
    top: -3px;
    margin-left: 4px;
}
.table--cell.player__column {padding-right: 0 !important;}
.player-column__athlete{	margin-top: 5px; }
.news.icon__svg { background-color: #fda;}
.mt3.transaction-details, .mb3.transaction-details { margin: 0 !important;}
.recentActivityDetail .transactionCell { margin-bottom: 10px;}
